*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  font-family: system-ui;
  display: flex;
  justify-content: center;
}


/*-----------------------------------------------------------------------------mk--
| 
|----------------------------------------------------------------------------------
| 
*/
button {
    padding: 1em 2em;
    margin: 1em;
    border-radius: 7px;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}
