:root {
  --body-bg: #fddcd2;

  --header-bg: #220b05;
  --header-text: #eeeeee;

  --main-bg: #fddcd2;
  --main-text: #151413;
  --main-title-bg: #e7abe2;

  --card-bg: #3dff367b;
  --card-text: #201e1d;
}